:root {
  --primary-text-color: #757575;
  --title-text-color: #212121;
  --title-second-text-color: #ffffff;
  --accent-color: #2196f3;
}

.body {
  font-family: Roboto, sans-serif;
  color: var(--primary-text-color);
}

h1,
h2,
h3,
h4,
h5,
h6,
ul,
p {
  margin: 0;
  padding: 0;
}

ul {
  padding: 0;
  margin: 0;
  list-style: none;
}

a {
  text-decoration: none;
}

.section-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--title-text-color);
}

.section {
  padding-top: 94px;
  padding-bottom: 94px;
}

/*backdrop*/

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.1);

  z-index: 2;
}

.backdrop.is-hidden {
  opacity: 0;
  pointer-events: none;

  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 528px;
  height: 581px;
  border-radius: 4px;
  transform: translate(-50%, -50%);

  background-color: var(--title-second-text-color);

  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
}

.close {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 8px;
  right: 8px;
  width: 30px;
  height: 30px;
  background-color: var(--title-second-text-color);
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  cursor: pointer;
}

.close-modal {
  fill: #000000;
  width: 18px;
  height: 18px;

  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.close-modal:focus,
.close-modal:hover {
  fill: var(--accent-color);
}

.data-modal {
  padding: 40px;
}

.title-modal {
  font-weight: 700;
  font-size: 20px;
  line-height: 1.17;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--title-text-color);
}

.form-modal {
  margin-top: 12px;
}

.label-modal {
  position: relative;
  display: flex;
  flex-direction: column;
  margin-top: 10px;
}

.title-label-modal {
  font-weight: 400;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
  color: var(--primary-text-color);
}

.input-modal {
  margin-top: 4px;
  padding: 12px 42px;
  width: auto;
  height: 40px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  cursor: pointer;

  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.input-modal:focus ~ .icon-modal,
.input-modal:focus {
  fill: var(--accent-color);
  outline: none;
  border-color: var(--accent-color);
}

.modal-comment {
  margin-top: 4px;
  padding: 12px 16px;
  width: auto;
  height: 120px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  resize: none;

  font-weight: 400;
  font-size: 14px;
  line-height: 1.17;
  letter-spacing: 0.01em;
  cursor: pointer;

  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-comment:focus {
  outline: none;
  border-color: var(--accent-color);
}

.icon-modal {
  position: absolute;
  top: 50%;
  left: 12px;

  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.label-modal-checkbox {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;

  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
}

.checkbox {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 16px;
  height: 15px;
  border: 2px solid var(--title-text-color);
  border-radius: 2px;

  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.icon-check {
  position: absolute;
  display: block;
  fill: var(--title-second-text-color);
}

.agreement {
  margin-left: 8px;
}

.contract {
  text-decoration: underline;
  color: #2196f3;
}

.input-checkbox:checked + .checkbox {
  background-color: var(--accent-color);
  border-color: var(--accent-color);
}

.modal-button {
  margin-top: 30px;
  margin-left: auto;
  margin-right: auto;
  padding: 10px 55px;
  border: transparent;
  border-radius: 4px;
  font-family: Roboto;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
  cursor: pointer;
  background-color: var(--accent-color);
  color: var(--title-second-text-color);

  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-button:hover,
.modal-button:focus {
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
}

/*Logo*/

.logo {
  margin-right: 93px;
  padding-top: 24px;
  padding-bottom: 25px;
  font-family: Raleway;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.2;
  text-decoration: none;
  color: var(--accent-color);
}

.logo-studio {
  color: #000000;
}

/*page header*/

.page-header {
  border-bottom: 1px solid #ececec;
}

.container {
  width: 1200px;
  margin: 0 auto;
  padding-left: 15px;
  padding-right: 15px;
}

.combo-nav {
  display: flex;
  align-items: center;
}

/*site nav*/

.site-nav {
  display: flex;
}

.address-nav {
  display: flex;
  margin-left: auto;
}

.site-nav-item:not(:last-child) {
  margin-right: 50px;
}

.address-nav-item:not(:last-child) {
  margin-right: 50px;
}

.site-nav .site-nav-link {
  padding-bottom: 32px;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  text-decoration: none;
  color: var(--title-text-color);

  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.site-nav .site-nav-link:hover,
.site-nav .site-nav-link:focus {
  color: var(--accent-color);
}

.site-nav .site-nav-link.current {
  color: var(--accent-color);
}

.current {
  position: relative;
}
.current::after {
  position: absolute;
  content: "";
  display: inline-block;
  width: 100%;
  height: 4px;
  left: 0;
  bottom: -1px;
  border-radius: 2px;
  background-color: var(--accent-color);
}

.address-nav .address-nav-link {
  display: flex;
  align-items: center;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  text-decoration: none;
  color: var(--primary-text-color);

  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.address-nav .address-nav-link:hover,
.address-nav .address-nav-link:focus {
  color: var(--accent-color);
}

.icon-smartphone,
.icon-envelope {
  fill: var(--primary-text-color);
  margin-right: 10px;

  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.address-nav-link:hover .icon-smartphone,
.address-nav-link:focus .icon-smartphone,
.address-nav-link:hover .icon-envelope,
.address-nav-link:focus .icon-envelope {
  fill: var(--accent-color);
}

/*hero*/

.hero {
  max-width: 1600px;
  margin-right: auto;
  margin-left: auto;
  padding-top: 200px;
  padding-bottom: 200px;
  text-align: center;
  background-image: linear-gradient(
      to right,
      rgba(47, 48, 58, 0.4),
      rgba(47, 48, 58, 0.4)
    ),
    url(../images/hero.jpg);

  background-color: #2f303a;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.hero .hero-title {
  margin-bottom: 30px;
  margin-left: auto;
  margin-right: auto;
  width: 696px;
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--title-second-text-color);
}

.hero .buttons {
  margin-left: auto;
  margin-right: auto;
  padding: 10px 32px;
  border: transparent;
  border-radius: 4px;
  font-family: Roboto;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
  cursor: pointer;
  background-color: var(--accent-color);
  color: var(--title-second-text-color);
}

.hero .buttons:hover,
.hero .buttons:focus {
  color: var(--title-second-text-color);
  background-color: var(--accent-color);
}

/*features*/

.visually-hidden {
  width: 1px;
  height: 1px;
  overflow: hidden;
  opacity: 0;
  margin-top: -1px;
}

.features-list {
  display: flex;
}
.features-list .item {
  width: 270px;
}

.features-list .item:not(:last-child) {
  margin-right: 30px;
}

.features-list .title {
  margin-bottom: 10px;

  text-transform: uppercase;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  color: var(--title-text-color);
}
.title-text {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
}

.icon-box {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 270px;
  height: 120px;
  background-color: #f5f4fa;
  margin-bottom: 30px;
}

/*our work*/

.work-section {
  padding-top: 0;
}

.works-list {
  display: flex;
}

.works-list .item:not(:last-child) {
  margin-right: 30px;
}

.section-title {
  margin-bottom: 50px;
}

.product {
  position: relative;
}

.label {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 70px;
  width: 100%;
  background-color: rgba(47, 48, 58, 0.8);

  bottom: 0;
}

.label .title {
  text-transform: uppercase;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  color: var(--title-second-text-color);
}

/*our team*/

.our-team {
  background-color: #f5f4fa;
}

.team-list {
  display: flex;
}

.team-list .item:not(:last-child) {
  margin-right: 30px;
}

.team-list .item {
  background: #ffffff;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}

.team-card {
  padding-top: 30px;
  padding-bottom: 30px;
}

.team-list .name {
  text-align: center;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: var(--title-text-color);
}

.team-list .post {
  margin-top: 10px;
  text-align: center;
  font-size: 16px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: var(--primary-text-color);
  margin-bottom: 16px;
}

.social-list {
  display: flex;
  align-items: center;
  justify-content: center;
}

.social-link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 44px;
  height: 44px;
  border: 1px solid #ffffff;
  border-radius: 50%;
  cursor: pointer;

  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.social-item:not(:last-child) {
  margin-right: 10px;
}

.social-icon {
  fill: #afb1b8;

  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.social-link:hover .social-icon,
.social-link:focus .social-icon {
  fill: var(--title-second-text-color);
}

.social-link:hover,
.social-link:focus {
  background-color: var(--accent-color);
}

/*customers*/

.customers-list {
  display: flex;
  justify-content: space-between;
}

.customer-box {
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 170px;
  height: 92px;
  border: solid 1px #afb1b8;
  border-radius: 4px;
  cursor: pointer;

  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.customer-icon {
  fill: #afb1b8;

  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.customer-item:not(:last-child) {
  margin-right: 30px;
}

.customer-box:hover,
.customer-box:focus {
  border-color: var(--accent-color);
}

.customer-box:hover .customer-icon,
.customer-box:focus .customer-icon {
  fill: var(--accent-color);
}

/*footer*/

.footer {
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: #2f303a;
}

.logo-footer {
  font-family: Raleway;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.2;

  text-decoration: none;

  color: var(--accent-color);
}

.footer .logo-studio-white {
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: var(--title-second-text-color);
}

.address {
  margin-top: 20px;
}

.address .item:not(:last-child) {
  margin-bottom: 9px;
}

.footer .link {
  font-style: normal;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  text-decoration: none;
  color: var(--title-second-text-color);
}

.footer .link-rgb {
  font-style: normal;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  text-decoration: none;
  color: rgba(255, 255, 255, 0.6);

  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer .link-rgb:hover,
.footer .link-rgb:focus {
  color: var(--accent-color);
}

.footer-container {
  display: flex;
  align-items: baseline;
  width: 1200px;
  margin: 0 auto;
  padding-left: 15px;
  padding-right: 15px;
}

.footer-contacts {
  flex-grow: 1;
}

.footer-social {
  margin-left: 70px;
}

.footer-social-item:not(:last-child) {
  margin-right: 10px;
}

.footer-social-list {
  display: flex;
  align-items: center;
  justify-content: center;
}

.footer-link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 44px;
  height: 44px;
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 50%;
  cursor: pointer;

  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-social-icon {
  fill: var(--title-second-text-color);
}

.footer-link:hover,
.footer-link:focus {
  background-color: var(--accent-color);
}

.footer-title {
  margin-bottom: 20px;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--title-second-text-color);
}

.subscribe {
  margin-left: 93px;
}

.subscribe-input {
  width: 358px;
  height: 50px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 4px;
  background-color: #2f303a;
}

.subscribe-button {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  margin-left: 12px;
  padding: 10px 32px;
  border: transparent;
  border-radius: 4px;
  font-family: Roboto;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.06em;
  cursor: pointer;
  background-color: var(--accent-color);
  color: var(--title-second-text-color);

  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.subscribe-button:hover,
.subscribe-button:focus {
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
}

.subscribe-icon {
  margin-left: 10px;
}

/*portfolio only*/

.filter-buttons {
  border: transparent;
  cursor: pointer;
  padding: 6px 22px;
  font-family: Roboto;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  letter-spacing: 0.03em;
  border-radius: 4px;

  background-color: #f5f4fa;
  color: var(--title-text-color);

  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1),
    background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.filter-buttons:hover,
.filter-buttons:focus {
  color: var(--title-second-text-color);
  background-color: var(--accent-color);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
  border-color: var(--accent-color);
}

.project-link {
  display: block;

  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.project-link:hover,
.project-link:focus {
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
}

.portfolio-link {
  position: relative;
  overflow: hidden;
}

.portfolio-text {
  display: inline-block;
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  width: 100%;
  height: 294px;
  background-color: rgba(33, 150, 243, 0.9);
  padding: 63px 24px;

  font-size: 18px;
  line-height: 1.56;
  letter-spacing: 0.03em;
  color: var(--title-second-text-color);

  opacity: 0;
  transform: translateY(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1),
    opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.project-link:hover .portfolio-text,
.project-link:focus .portfolio-text {
  opacity: 1;
  transform: translateY(0);
}

.projects-filter {
  display: flex;
  justify-content: center;
  margin-bottom: 50px;
}

.projects-filter-item:not(:last-child) {
  margin-right: 8px;
}

.projects-list {
  display: flex;
  flex-wrap: wrap;
}

.projects-list .project-item {
  width: 370px;
  margin-right: 30px;
  margin-bottom: 30px;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.box {
  padding: 20px 24px;
  border: 1px solid #eeeeee;
  border-top-width: 0;
}

.projects-list .project-item:nth-child(3n) {
  margin-right: 0;
}

.projects-list .project-item:nth-last-child(-n + 3) {
  margin-bottom: 0px;
}

.projects-text {
  margin-top: 4px;
}

.projects-list .projects-title {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;

  color: var(--title-text-color);
}

.projects-list .projects-text {
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.03em;

  color: var(--primary-text-color);
}
